.banner {
  position: relative;

  height: 530px;

  background-image: url("https://react-serverless-blog.oss-cn-hangzhou.aliyuncs.com/images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  .info {
    position: absolute;
    height: 150px;
    bottom: 0;
    left: 0;
    right: 0;
    .avatar {
      position: absolute;
      top: -70px;
      left: 40px;
      width: 200px;
      height: 200px;
      background-size: contain;

      border-radius: 20px;
    }
    .title {
      line-height: 50px;
      margin-left: 280px;
      font-size: 28px;
      margin-top: 10px;
      color: #333;
    }
    .description {
      line-height: 32px;
      margin-left: 280px;
      margin-right: 30px;
      font-size: 18px;
      color: #030303;
    }
  }
}
