.sidebar {
  padding: 10px 0;
  line-height: 40px;
  font-size: 24px;
  :global(.iconfont) {
    margin-right: 25px;
  }
}

.header {
  padding: 0 20px;
  :global(.iconfont) {
    color: #f5f5f5;
    cursor: pointer;
  }
  .icon {
    font-size: 32px !important;
  }
  .info {
    float: right;
    clear: both;
    margin: 0;

    .avatar {
      margin: 10px 10px;
      padding: 0;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      cursor: pointer;
    }
    .username {
      line-height: 64px;
      color: #f5f5f5;
      font-size: 24px;
    }
  }
}

.content {
  padding: 20px;
  min-height: 100vh !important;
}
