@font-face {
  font-family: "iconfont"; /* Project id 3485589 */
  src: url("../assets/font/iconfont.woff2?t=1656324552858") format("woff2"),
    url("../assets/font/iconfont.woff?t=1656324552858") format("woff"),
    url("../assets/font/iconfont.ttf?t=1656324552858") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list:before {
  content: "\e62d";
}

.icon-back:before {
  content: "\e6bd";
}

.icon-menu-unfold:before {
  content: "\e67f";
}

.icon-menu-fold:before {
  content: "\e680";
}

.icon-home:before {
  content: "\e739";
}
