.wrapper {
  margin-top: 15px;
  border-top: 1px solid #ccc;
}

.attributes-row {
  display: flex;
  margin-top: 15px;
  .attributes-label {
    line-height: 32px;
    width: 70px;
  }
  .attributes-content {
    flex: 1;
  }
}

.button {
  margin: 10px 0;
}

.area {
  position: relative;
  border: 1px dashed #ccc;
  padding: 10px 10px 0 10px;
  margin-bottom: 20px;
  .area-delete {
    position: absolute;
    right: -10px;
    top: -10px;
    background: #f00;
    width: 20px;
    height: 20px;
    color: #f5f5f5;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .area-row {
    display: flex;
    margin-bottom: 10px;
    .area-label {
      line-height: 32px;
      width: 40px;
    }
    .area-content {
      flex: 1;
    }
  }
}
